body {
    font-family: Arial, sans-serif;
}
.index-container {
    display: flex;
    height: 100vh;
}
.index-sidebar {
    width: 300px;
    background-color: #333;
    color: white;
    padding: 20px;
}
.index-sidebar h3, .index-content h2, .index-content h3 {
    color: #fff;
}
.index-sidebar ul {
    list-style: none;
    padding: 0;
}
.index-sidebar li {
    padding: 10px;
    background: #444;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.index-sidebar li span {
    background: #777;
    padding: 5px;
    border-radius: 5px;
}
.index-sidebar form {
    margin-bottom: 20px;
}
.index-sidebar input[type="text"] {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.index-sidebar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #00bfff;
    color: white;
}
.index-content {
    flex-grow: 1;
    background-color: #f1f1f1;
    padding: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #444;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #444;
}
.error-message {
    color: red;
    margin-top: 10px;
}